@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');

* {
    margin: 0;
}

body {
    background:rgb(252, 252, 239);
}

#app {
    display: grid;
    place-content: center;
    height: 100vh;
    
    h1 {
        text-align: center;
        font-family: Mali, sans-serif;
        font-size: 3rem;
        font-weight: 700;
        padding: 2rem;
        color:rgb(158, 80, 78);
        filter: drop-shadow(-1px -1px 0 #ed0) drop-shadow(1px 1px 0 #00b9);
    }
    
    main {
        border-radius: 1rem;
        position: relative;
        padding: .5rem;
        background: white;
        border: 1px solid #f1f1f1;
        box-shadow: 1px 1px 3px 0 #0002;

        .currency {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            background: rgb(187, 187, 125);
            border-radius: 0 0 1rem 1rem;
    
            label {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                gap: 1rem;
                font-family: 'K2D', sans-serif;
                font-weight: 800;
                font-size: 2rem;
                color: rgb(3, 49, 199);
                
                span {
                    filter: drop-shadow(1px 1px 0px white);
                }

                input {
                    padding: 6px 1rem;
                    max-width: 300px;
                    flex: 0 1 100%;
                    border-radius: 10px;
                    border: 1px solid #666;
                    font-family: Mali, sans-serif;
                    font-size: 1.8rem;
                }
            }
        }

        a {
            text-decoration: none;
            color: #ccc;
            font-family: monospace;
            position: absolute;
            right: .5rem;
            bottom: -.5rem;
            height: 0;
        }
    }
}